*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
/*     

     */
    font-family: sans-serif;
}

body{
    background-color: #eeeeee;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border:  1px solid white;
    padding: 12px 34px;
    border-radius: 5px;
    font-size: 13px;
    background: #437447;;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.5s ease;
}
.btn:hover{
    transition: all 0.5s ease;
    background:transparent;
    color: #437447;
    border: 1px solid #437447;
}

#header{
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.box{  
    margin-bottom: 50px;
    padding: 10px 50px 15px 10px;
    background-color: white;
   
    box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.1);
    width: 70%;
}
.box img{
    width: 20%;
    transform: translateY(-50px);
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);
    background-color: #fff;
}
.boxes img{
    border: 16px solid #fd8c0b;
}

.box .right{
    float: right;
    line-height: 35px;
    text-align: right;
}
.column{
    display: flex;
    flex-direction: column;
}
#box h2{
    font-size: 30px;
    color: #acacac;
}
#box1 h2{
    color: #acacac;
}
#box2 h2{
    color: #acacac;
}
.box p{
    font-size: 20px;
    color: #6c7071;
}
#box p{
    color: #6e373a;
}
@media(max-width: 500px){
    .box{  
        margin-bottom: 50px;
        padding: 10px 15px 0px 10px;;
    }
    .box img{
        width: 30%;
        transform: translateY(-50px);
        box-shadow: 25px 22px 25px 22px rgba(207, 205, 207, 0.1);
    }
    .boxes img{
        border: 10px solid #fd8c0b;
    }
    .boxes{
        height: 200px;
    }
    
    .header{
        width: 90%;
    }
    #box .right{
        float: right;
        line-height: 35px;
        text-align: right;
        transform: translateY(-70px);
    }
    #box h2{
        font-size: 17px;
        width: 99%;
        color: #acacac;
        text-transform: uppercase;
    }
    #box p{
        font-size: 15px;
    }
    .btn{
        display: inline-block;
        text-decoration: none;
        color: white;
        border:  1px solid white;
        padding: 10px 17px;
        border-radius: 5px;
        font-size: 12px;
        background: #437447;;
        cursor: pointer;
        margin-top: 8px;
        transition: all 0.5s ease;
    }
    .btn:hover{
        transition: all 0.5s ease;
        background:transparent;
        color: #437447;
        border: 1px solid #437447;
    }
}