.flex{
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}
.flex input{
    margin-left: 2%;
    margin-bottom: 10%;
}
input{
    width: 400px;
padding: 15px;
margin-bottom: 17px;
outline: none;
border: 1px solid #ccc;
box-sizing: border-box;
transition: all 0.1s ease;
}
input:focus{
border: 2px solid #47db53;
}
label{
margin: 0.6rem 0;
line-height: 1.25;
font-weight: 400;
text-transform: capitalize;
}
.top{
    margin-top: 3%;
    display: flex;
    align-self: center;
}
.top1{
    margin-top: 3%;
    display: flex;
    align-self: center;
}
.top2{
    margin-top: 3%;
    display: flex;
    align-self: center;
}
#flex{
    padding-right: 10%;
}
.hold{
    display: flex;
    flex-direction: column;
}
.body a{
border: 1px solid black;
padding: 2% 5% 2% 5%;
color: black;
transition: all .5s ease-in-out;
}
.body a:hover{
border: 2px solid #ffffff;
background-color: #47db53;
color: rgb(255, 255, 255);
}
@media screen and (max-width: 800px){

input{
    width: 370px;
}
input:focus{
    border: 2px solid #47db53;
}
label{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: 400;
    text-transform: capitalize;
}
.body{
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}
.top{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.top1{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.top2{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
}
@media screen and (max-width: 600px){
.flex{
    display: flex;
    flex-direction: column;
}
input{
    width: 300px;
}
}
@media screen and (max-width: 600px){
input{
    width: 250px;
}
}
.hold a{
    border: 1px solid black;
    padding: 2% 5% 2% 5%;
    color: black;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    margin: 0 10% 10% 10%;
}
.hold a:hover{
    border: 2px solid #ffffff;
    background-color: #47db53;
    color: rgb(255, 255, 255);
}